$color-blue: #307BB3;
$color-green: #66B3AB;
$color-grey: #858585;
$color-purple-light: #887DFF;
$color-purple: #2E258F;
$color-purple-dark: #171249;
$color-red: #E7593A;
$color-red-dark: #8B1B1B;
$color-yellow: #FFC979;